@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    font-size: 16px;
}
.wrap {
  background-color: #253242;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-rows: 33vh 33vh 33vh;
  grid-template-areas:
    "a b c"
    "d e f"
    "h i j";
}
.p25 {
  padding: 0.25rem;
}

#hola {
  background-color: rgb(240, 151, 151);
  color: deepskyblue;
  padding-top: 1em;
  padding-right: 1em;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 2.4rem;
  grid-area: c;
}

#and {
  grid-area: e;
  background-color: hsl(199, 72%, 67%);
  color: #253242;
  font-family: 'Playfair Display', serif;
  font-style:italic ;
  font-weight: 700;
  font-size: 7rem;
  padding:2.6rem 0.7rem;
}

#adios {
  grid-area: h;
  background-color: #b1eea2;
  color: lightsalmon;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 2rem;
  padding-left: 1em;
  padding-bottom: 1.1em;
}

