@import'../css/bootstrap-reboot.min.css';

//.outline{
//  outline: 1px dotted green;
//  opacity: .75;
//}
body{
  font-size: 16px;
  background-color: #c7cbce;
}

#topInfo {
  position: absolute;
  top: 0;
  left: 0;
  color: #f5ff00;
  background-color: #0e0f0e;

   display: none;
}

.info {
  color: #d1d1d1;
  margin: !important;
  padding: !important;

//  margin-top: 2.7em;
//  display: inline;
  z-index: 1;
  //  outline: 1px solid pink;
}

#info_pos {
  position: relative;
  float: right;
  margin-top: 0;
}


.op-1 {
  opacity: 1 !important;
}

#playPause {

  cursor: pointer;
  transition: all 0.5s;

  @media (hover: hover) {
    &:hover {
      filter: brightness(110%);
    }
  }

}

.pause {
  // background-image: url('../img/pause1.2.svg');
  background-color: rgba(222, 63, 63, 0.73)
}

.play {
  // background-image: url('../img/play1.1.svg');
  background-color: #3ba581;

}



$buts : 1.5em;

#playPause {
  min-height: $buts;

  min-width: $buts;
  display: inline-block;
  cursor: pointer;
  transition: all 0.5s;

  @media (hover: hover) {
    &:hover {
      filter: brightness(110%);
    }
  }
}

#seekBar {
  min-height: $buts;
  background-color: #8c9696;
  width: calc(100% - #{$buts * 2});
  display: inline-block;
  background-color: #c8d0d6;
  background-image: url("../img/bg1.png");
  background-repeat: no-repeat;
  background-size: 0px $buts;

  transition: background-size 0.5s;

  font-family: monospace;
  padding-left: 0.4em;
  padding-right: 0.4em;


  z-index: 200;

  @media (hover: hover) {

    &.dragCurser {
      cursor: ew-resize;
    }
  }
}

#full {
  position: relative;
  float: right;
  min-height: $buts;
  min-width: $buts;
  display: inline-block;
  background-color: rgba(157, 113, 34, 0.51);

  cursor: pointer;
  transition: all 0.5s;

  @media (hover: hover) {
    &:hover {
      filter: brightness(110%);
    }

  }
}
