body {
  background-color: #e9eee8;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  color: #a39393;
}

#wrapper {

  display: grid;
  max-width: 175vh;
  text-align: center;
  margin: 00 auto;
  padding: 1em;
  grid-gap: 1em;
  grid-template-columns: 8vw 1fr 8vw;
  grid-template-areas:
    " info_length vid info_pos "
    "playPause seekBar full"
   ;
}

@media(orientation : "portrait") {
  #wrapper {
    grid-template-columns: 18vw 1fr 1fr 18vw;
    grid-template-areas:
      " vid vid vid vid "
      " seekBar seekBar seekBar seekBar"
      "playPause info_length  info_pos full";
    
  }
  
  #info_length {
    text-align: left;
   
  }
  
  #info_pos {
    text-align: right;
    
  }
}

#vid {
  grid-area: vid;

  justify-content: center;


}

#vid1 {
  max-width: 100%;
}

#playPause {
  grid-area: playPause;
}

#full {
  grid-area: full;
}



#info_length {
 // float: left;
  grid-area: info_length;
  align-self:flex-end;
   color: #bac0c6;
}

#info_pos {
  //float: right;
  grid-area: info_pos;
  align-self:flex-end;
   color: #bac0c6;
}

.controlls{
   background-color: #bdced3;
  padding: .15em;
  cursor: pointer;
}

///////////////////////////////////////////////////////////////////////
$buts:1.5em;

#seekBar {
  grid-area: seekBar;

  min-height: $buts;
  background-color: #8c9696;
  // width: calc(100% - #{$buts * 2});
  display: inline-block;
  background-color: #c8d0d6;
  background-image: url("../img/bg1.png");
  background-repeat: no-repeat;
  background-size: 0px $buts;

  transition: background-size 0.5s;


  z-index: 200;

  @media (hover: hover) {

    &.dragCurser {
      cursor: ew-resize;
    }
  }
}

.d-none {
  display: none;
  
}
