$topbar-breakpoint: emCalc(767); // Change to 9999px for always mobile layout
$topbar-media-query: "only screen and (min-width: #{$topbar-breakpoint})";

//top-bar \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
$topbar-title-font-size: emCalc(27);