// Global Foundation Settings
@import "settings";
@import "settings_overide";
// Comment out this import if you don't want to use normalize
@import "normalize";

// Comment out this import if you are customizing you imports below
@import "foundation";

// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing

// @import "foundation/components/global"; // *always required
// @import "foundation/components/grid";

//
// Use this grid if you want to start using the new Foundation 5 grid early.
// It will change breakpoints to min-width: 640px and 1024px.
//
// @import "foundation/components/grid-5";
//

// @import "foundation/components/visibility";
// @import "foundation/components/block-grid";
// @import "foundation/components/type";
// @import "foundation/components/buttons";
// @import "foundation/components/forms"; // *requires components/buttons
// @import "foundation/components/custom-forms"; // *requires components/buttons, components/forms
// @import "foundation/components/button-groups"; // *requires components/buttons
// @import "foundation/components/dropdown-buttons"; // *requires components/buttons
// @import "foundation/components/split-buttons"; // *requires components/buttons
// @import "foundation/components/flex-video";
// @import "foundation/components/section";
// @import "foundation/components/top-bar";  // *requires components/grid
// @import "foundation/components/orbit";
// @import "foundation/components/reveal";
// @import "foundation/components/joyride";
// @import "foundation/components/clearing";
// @import "foundation/components/alert-boxes";
// @import "foundation/components/breadcrumbs";
// @import "foundation/components/keystrokes";
// @import "foundation/components/labels";
// @import "foundation/components/inline-lists";
// @import "foundation/components/pagination";
// @import "foundation/components/panels";
// @import "foundation/components/pricing-tables";
// @import "foundation/components/progress-bars";
// @import "foundation/components/side-nav";
// @import "foundation/components/sub-nav";
// @import "foundation/components/switch";
// @import "foundation/components/magellan";
// @import "foundation/components/tables";
// @import "foundation/components/thumbs";
// @import "foundation/components/tooltips";
// @import "foundation/components/dropdown";

$fooey : #213142;
p{
  color: $fooey;
}
img.no-image{      //class for img when no url supplyed
  visibility: hidden;
  height: 0px;
  width: 0px;
  margin-left:-2000em;
}
.sidebar-large{
  background-color: rgba(56, 89, 135, 0.27);

  > h1{
    font-size: 6em;
    word-break: break-all;
    text-align: center;
    color: rgba(33, 53, 82, 0.88);
  }

}


nav{
  li{
    display: inline;
    list-style-type: none;
  }
  li a.active{
    color: #ffffff !important;
    font-size: 2em;
    text-transform:uppercase;
  }
  li.time_now{
    color: indianred !important;

  }
  h1 a{
    color:#F5AA0A !important;
    display: inline;
  }
  .timenow{
    color: rgba(33, 53, 82, 0.84) !important;

  }


}

.main_event_one{
background-color: #d7d2b2;

}
.main_event_two{
  background-color: rgba(255, 218, 243, 0);
  border-right: 1px solid #dddddd;

  img{
    border: 14px solid #ababab;
    border-bottom: 20px solid #bababa;
    padding: 3px;
    background-color: #d8d8d8;
    float: left;
    margin: .5em;
  }


}



.custom-panel {
  color: rgba(17, 20, 57, 0.79);
  @include panel(
  // Sets the panel background color. Default: $panel-pg
    $bg: rgba(242, 242, 242, 0.37),
    // Sets the panel padding amount. Default: $panel-padding
    $padding:5px 10px,
    // Sets the font color based on the darkness of the bg & resets header line-heights for panels. Default: $panel-header-adjust
    $adjust:true
  );
}
.custom-panel-p4 {
  color: rgba(205, 68, 29, 0.78);

  @include panel(
  // Sets the panel background color. Default: $panel-pg
    $bg: rgba(66, 192, 242, 0.36),
    // Sets the panel padding amount. Default: $panel-padding
    $padding:3px 9px,
    // Sets the font color based on the darkness of the bg & resets header line-heights for panels. Default: $panel-header-adjust
    $adjust:true
  );
}

      #pageNumInput{
        display: inline;
        width: 20%;
      }























