// Global Foundation Settings
@import "settings";
@import "settings_overide";
// Comment out this import if you don't want to use normalize
@import "normalize";

// Comment out this import if you are customizing you imports below
@import "foundation";

@import url(http://fonts.googleapis.com/css?family=Lato:400,900);
$mainBreakPoint:emCalc(767);


  *{
    font-family: 'Lato' !important;
  }


body{
  margin-top: 20px;
}

#headTitle{
  word-break: break-all;
}

//contact
p.info {
  position: absolute;
  margin-left: -9000em;
}
fieldset{
  border:none;
  margin: 0;

}

.circle{
  border:1px solid #ffbb03;
  border-radius: 50%;
  width: 140px;
  height: 140px;
}


.avaiable{
  font-weight:900 ;
}

iframe{
  border: none;
  width: 100%; height: 470px  ;
  overflow: hidden;
}
#pop{
  position: absolute;
  top: 10px;
  left: -1110px;
  opacity: 0;
  z-index: 0;
}
#pop.show{
  transition: opacity .9s ease-out;
  opacity: 1;
  left: 10px;
}


.close_pop{
  float: right;
  z-index: 200;
  font-size: 2em;
  background-color: #b6d96a;
  border: 1px solid darken(#b6d96a,20%);
  border-radius: 50%;
  font-weight: 900;
  color: #df5a49;
  width: 60px;
  height: 60px;
  cursor: pointer;
  &:hover {
    transition: all .2s ease-out;
    background-color: lighten(#b6d96a, 10%);
  }



}
.body_fade{
  transition: opacity .9s ease-out;
  opacity: 0;
}
.greenBg{
  background-color: #b6d96a !important;
  border: 1px solid darken(#b6d96a, 20%);

}
.redBg{
  background-color: #df5a49 !important;
  border: 1px solid darken(#df5a49, 40%);
}
.blueBg {
  background-color: #6ca6d9;
  border: 1px solid darken(#6ca6d9, 40%);
}
p.smallBlurb{
  font-size: 14px;
}
.no-js:hover:after{
  content:" requiers javascript";
  color: orange;
  background-color: #fff;
  font-weight: 900;

}
#mail {
  color: #df5a49;
}
.circleFill {
  border: 3px solid #ffbb03 !important;
  transition: all .9s ease-out;
  margin-left: 5px;
}












