@import "../css/normalize.min.css" ;
@import "../css/foundation.min.css" ;
@import "compass/css3/transition";
@mixin up-to-width($breakpoint) {
    @media only screen and (max-width: $breakpoint + px) { @content; }
}
@mixin larger-than-width($breakpoint) {
    @media only screen and (min-width: $breakpoint + px) { @content; }
}
#flickBody{
  background:none;

}

$bg_color1: #ebe8e8;
$grid_size : 60px;
$squaresAccross : 1;
$squaresDown : 4;
$borderSize : 10px;

h3.pageTitle{
  text-align: center;
  color:$bg_color1;
  a{
    color: darken($bg_color1,8%);
    &:hover{
      color: darken($bg_color1,11%);
    }
  }
}


#checkers{
  border:$borderSize solid $bg_color1 ;
  height: $grid_size * $squaresDown + $borderSize*2;
  width:$grid_size * $squaresAccross + $borderSize*2;
  background-color: $bg_color1;
  float: left;
  margin-left: 20px;
position: relative;
  &.checks{
    background-color: white;
    background-image: linear-gradient(45deg, $bg_color1 25%, transparent 25%, transparent 75%, $bg_color1 75%, $bg_color1),
    linear-gradient(45deg, $bg_color1 25%, transparent 25%, transparent 75%, $bg_color1 75%, $bg_color1);
    background-size:$grid_size*2 $grid_size*2;
    background-position: 0 0, $grid_size $grid_size;
  }
  @include larger-than-width(790) {


}
}

#draggable{
    position: relative;
    /* top: $grid_size;
    left: $grid_size; */
    width: $grid_size;
    height: $grid_size;
    background-color: darken($bg_color1,10%);
    border-radius:50% ;
    border:6px solid darken($bg_color1,12.5%);
    cursor: move;
    font-family: courier;
    text-align: center;
    color:cornflowerblue;
    font-size: 2.1em;
    line-height: 1.4;
    @include transition(border 0.2s ease-in-out);

    &:hover{
      border:6px solid darken($bg_color1,15.5%);
    }
}
#img_div{

  margin: 0 auto;
  position: relative;
  clear: both;
  text-align: center;
  @include larger-than-width(790) {
    float: left;
    margin-left: 20px;
    clear: none;

  }
  img{
    border:10px solid $bg_color1;
    margin-top: 20px;
    @include larger-than-width(790) {
      margin-top: 0;
    }
  }
}


#controls{
  border:$borderSize solid $bg_color1 ;
  display: inline-block;
  padding: 1  0px;
  text-align: center;
  width: 190px;
float: left;
font-size: 0.75em;
  @include larger-than-width(790) {

font-size: 1em;
    width: 210px;
  }
}
/* #wrap{
  position: relative;
  top: 70px;
  width: 790px;
  margin: 0 auto;


} */
#wrap{
  position: relative;
  top: 20px;
  margin: 0 auto;
  width: 450px;
  @include larger-than-width(795) {

    top: 70px;
    width: 795px;

  }
}


 #title, #tit, {

  color:#fff;
/*   padding:  5px 8px; */
  padding: 0;
  display: inline-block;
  width: 90px;
  margin-top: 5px;
  background-color: #9f9e9e;
  @include transition(all 0.4s ease-in-out);
  @include larger-than-width(790) {
    width: 115px;
  }
}
#title.moving{
  color: #fff;
  background-color: rgba(12, 128, 14, 0.58);

}
#title.noImage{
  color:#f7ef0a !important;
  background-color: rgba(219, 30, 30, 0.71);

}
a.butto{
  width: 90px;
  font-size: 1.15em;
  background-color: #51b5e9;
  color:#fff;
  padding:5px 8px;
  display: inline-block;
  margin-bottom: 3px;
  @include larger-than-width(790) {
    width: 115px;
  }

  @include transition(background-color 0.3s ease-in-out);
  &:hover{
    background-color: #2b9bbd;
  }
  &.active{
    background-color: #1687b6;
  }
}
#thumbs{

  img{
    width: 60px;
    border: 2px solid $bg_color1;
    &.active{
      border: 5px solid #504c57;
    }
  }
}
.hidden{
  display: none;
}
#toggleMode{
  font-size: 1em;
  height: 24px;
  width: 90px;
  background-color:rgba(12, 128, 14, 0.68);
  padding:  10px 0px;
  padding-bottom: 9px;
  text-align: center;
  color: #fff;
  margin: 9px auto;
  display: block;
  line-height: 0;
  cursor: pointer;
  @include larger-than-width(790) {
    width: 115px;
    font-size: 1em;
    padding:  10px 4px;
  }
  @include transition(background-color 0.3s ease-in-out);
  &:hover{
    background-color: rgba(12, 128, 14, 0.58);
  }
}
///////////// POPS  \\\\\\\\\\\\\\\\\\\\\\

#popsDiv{
  position: absolute;top: 0;
  padding: 20px;
  margin: 0 auto;
  text-align: center;
  z-index: 200;
  width: 100%;
  height: 100%;

  background-color:#1d1f21;
  img{
    border:15px solid $bg_color1;
    border-bottom: 25px solid $bg_color1;
    border-radius: 2px;
    padding: 2px;
    background-color: #c8c2c2;
    max-height:91%;
  }
h5.popsTitle{
color:#fbf8f8;
padding: 10px;
}
}
