@import url(http://fonts.googleapis.com/css?family=Cutive+Mono);
@import "_colours";
@import "compass/css3/transition";

@mixin rotate( $degrees ) {
  -webkit-transform: rotate(#{$degrees}deg);
  -moz-transform: rotate(#{$degrees}deg);
  -ms-transform: rotate(#{$degrees}deg);
  -o-transform: rotate(#{$degrees}deg);
  transform: rotate(#{$degrees}deg);

  filter:  progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=#{cos($degrees)}, M12=-#{sin($degrees)}, M21=#{sin($degrees)}, M22=#{cos($degrees)});
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=#{cos($degrees)}, M12=-#{sin($degrees)}, M21=#{sin($degrees)}, M22=#{cos($degrees)})";
  zoom: 1;
 }



$border_color : #aaa;
body{
  font-family: 'Cutive Mono', ;
  background-color:$yellowIsh;
}
ul{
//  outline:1px solid black;
  padding:0;
  margin:0;
    @media (max-width: 502px) {

    }
}
li{
  border-bottom-left-radius:7px;
  width:100px;
  background-color:$redIsh;
  border:4px solid $blueIsh;
  padding:2px;
  color:$yellowIsh;
  font-size:1.3em;
  display:inline-block;
  text-align:center;
  cursor:pointer;
  transition: all .65s;
  margin:3px auto;
  &:hover{
    border:4px solid darken($redIsh,7%);
    border-bottom-left-radius:1px;
  }
  &.actif{
    background-color:$blueIsh;
    //color:$redIsh;
    border:4px solid $redIsh;
  }
  @media (max-width: 502px) {
  //  width:45%;

    &:nth-child(2){
      margin-right:26%;
    }
  }
}
hr.hr{
  color: $redIsh;
  background-color:  $redIsh;
  height: 5px;
  border:none;
}
img.thumb{
  transition: all .25s;
  border:7px solid $redIsh;
  &:hover{
    border:7px solid $blueIsh;
    border-bottom-left-radius:1px;
  }
  border-bottom-left-radius:7px;
  margin: 5px;
  width:75px;
  height:75px;
  background-color:$blueIsh;
  @media (max-height: 600px) {
    width:45px;
    height:45px;
  }

}
img.activ{
  border:7px solid $blueIsh ;
}
#images{
  margin:0 auto;

  margin-top:10vh;
  width:300px;
}

#pops{
  position: fixed;
  width: 100vw;
  text-align: center;
 background: rgba(6,6,6, 0.91);
   background-image: url('../img/loading.png');
   background-repeat:no-repeat;
background-position: center 40%;
@media (max-width: 600px) {
   background-image: url('../img/loading_sml.png');
}
//@include background-image(linear-gradient(rgba(240, 230, 235, 0.22), #1d0303 5%, #170202 95%, #000));
  top: 0px;
  left: 0px;
  height:100vh;


}
#pops.hid{
  display:none !important;
}
#pops:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;

  margin-right: -0.25em; /* Adjusts for spacing */

  //For visualization
  //background: #808080; width: 5px;

}

#pops img {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  border:10px solid rgba(7, 4, 19, 0.9);
  border-bottom-left-radius:20px;
  @media (min-width: 660px) {
      border:30px solid rgba(7, 4, 19, 0.9);
  }
  max-height:95vh;
  //border:10px solid rgba(1, 11, 3, 0.74);
  //width:auto;
  max-width:90%;

}


#tit{
  position:fixed;
  font-size:1.5em;
  //right:10%;
  color:$blueIsh;
//  float:right;
  //margin-right:50px;
  font-weight: 900;
  transition: color .5s;
  @media (max-width: 570px) {
}
    @media (max-width: 775px) {
      //@include rotate( 90 );
      //margin-top:15vh;
      //  margin-right:0;
      //  right:0;
      //  text-align:left;
      //  padding:0;
//top:7vh;
    }
}

#tit.tit_hover{
  color:$redIsh;
}
#casa{
  position:absolute;
  bottom:11px;
  left:11px;
  width:30px;
  opacity:.5;
  cursor:pointer;
  @include single-transition(all, 0.4s, ease);
  &:hover{
    opacity:1;
    width:50px;
  }
}

#foot{
  text-align:right;
  position:absolute;
  bottom:3px;
  right:11px;

  a{
    font-size:1em;
    @include single-transition(color, 0.2s, ease);
    color:darken($yellowIsh,20%);
    text-decoration:none;
    &:hover{
      color:$redIsh;
      font-weight:900;
    }
    @media (max-height: 337px) {
    display:none;
    }
  }

}
/////////////////////////////////////////////////////// test

#cont a {
  text-decoration:none;
  font-size:1.6em;
  color:rgb(231, 154, 38);
  font-variant:small-caps;
  &:hover{
    color:rgb(81, 143, 215);
  }
}
