@import url(http://fonts.googleapis.com/css?family=Cutive+Mono);
$border_color : #aaa;
body{
  font-family: 'Cutive Mono', ;
}
li{
  border-radius:1px;
  width:100px;
  background-color:#fff;
  border:1px solid rgb(192, 198, 194);
  display:inline-block;
  text-align:center;
  cursor:pointer;
  @media (max-width: 570px) {
    width:70px;
    font-size:.75em;
  }
}
hr.hr{
  color: $border_color;
  background-color:  $border_color;
  height: 5px;
  border:none;
}
img.thumb{
  border:7px solid $border_color;
  margin: 5px;
  @media (max-height: 600px) {
    width:45px;
  }

}
img.activ{
  border:7px solid darken($border_color,41%) ;
}
#images{
  margin:0 auto;

  margin-top:10vh;
  width:300px;
}

#pops{
  position: fixed;
  width: 100vw;
  text-align: center;
  background: rgba(6,6,6, 0.91);
  top: 0px;
  left: 0px;
  height:100vh;


}
#pops.hid{
  display:none !important;
}
#pops:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;

  margin-right: -0.25em; /* Adjusts for spacing */

  //For visualization
  //background: #808080; width: 5px;

}

#pops img {
  display: inline-block;
  vertical-align: middle;

  max-height:95vh;
  //border:10px solid rgba(1, 11, 3, 0.74);
  //width:auto;
  max-width:90%;
}



#tit{
  color:rgb(61, 175, 205);
  float:right;
  margin-right:50px;
  font-weight: 900;
  transition: color .5s;
  @media (max-width: 570px) {
    margin-right:10px;
    font-size:.75em;
  }
}
#tit.tit_hover{
  color:orange;
}
