@import "_onepage-scroll";
@import "_media-queries";
@import "_colours";
@import "compass/reset";

@import "compass/css3/transition";
@import "compass/css3/transform";
///////////   colors \\\\\\\\\\\\\\\\\




@font-face {
  font-family: 'G_S_Bold';
  src: url('../fonts/GillSansDisplayMTPro-Bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/GillSansDisplayMTPro-Bold.ttf')  format('truetype')
}
@font-face {
  font-family: 'G_S_X_Bold';
  src: url('../fonts/GillSansMTPro-ExtraBold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../GillSansMTPro-ExtraBold.ttf')  format('truetype')
}

*{
  -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}
a,a:hover, a:active, a:focus {
  outline: 0 !important;
}
a:active{
  background-color: transparent;
}
html {
  height: 100%;
}
body {

  padding: 0;
  text-align: center;
  font-family: 'G_S_Bold','Helvetica';
  color: $blueIsh;
  position: relative;
  margin: 0;
  height: 100%;
  -webkit-font-smoothing: antialiased;
}

.wrapper {
  height: 100% !important;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}


.main {
  float: left;
  width: 100%;
  margin: 0 auto;
}

header {
  position: relative;
  z-index: 10;
}
.main section .page_container {
  /* 	border-top: 1px solid red; */
  position: relative;
  top: 5%;
  margin: 0 auto 0;
  max-width: 950px;
  z-index: 3;
}
.main section  {
  overflow: hidden;
}


 /* \\\\\\\\ PAGE ONE \\\\\\\\\ */
.main section.page1 {
  background:$yellowIsh;
}
.main section.page1 h1 {
  display: inline-block;
  font-family: 'G_S_X_Bold';
  padding-bottom: 0;
  font-size: 8vmax;
  border-bottom: 2vw solid $redIsh;
  /*border-top: 1vh solid green; */
  margin-top: 30vh;
  //max-width: 80%;
  color: $blueIsh;
/*   text-shadow: 1px 1px $redIsh,
              2px 2px $redIsh,
              3px 3px $redIsh,
              4px 4px $redIsh; */

}


.main section.page1 h2 {
  font-size: 18px;
  display: block;
  color: $blueIsh;
  text-align: center;
  width: 435px;
  line-height: 160%;
}

#q_mark{
  position: absolute;
  bottom: 0;
  padding: 20px 30px 2px 30px;
  left: 50%;
  margin-left: -30px;
  font-size: 5vh;
  color: $redIsh;
  cursor: pointer;
  transition: color .4s ease-out;
  &:hover{
    color: $blueIsh;
  }
}

/* \\\\\\\\ PAGE TWO \\\\\\\\\ */
.main section.page2{
 background-color: $blueIsh;
}
#langSpoke h4{
  font-size: 7vh;
  text-align: center;
  color: $redIsh;
  margin-top: 10%;
  margin-bottom: 5%;
}
#langSpoke h5{
  margin-top: 6vh;
  font-size: 6vh;
  text-align: center;
  color: $redIsh;
}
#langSpoke ul, #langSpoke ul li{
  font-size: 4.7vh;
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
  color: $blueIsh;
}
#langSpoke ul li{
  color: $yellowIsh;
  padding-bottom: 1vh;
}
#contact{
  cursor: pointer;
  display: inline-block;
  border-bottom: 6px solid rgba(15, 1, 28, 0);
  transition: border-bottom .2s ease-out;
  &:hover{
    border-bottom: 6px solid $yellowIsh;
  }
}




/* \\\\\\\\ PAGE THREE \\\\\\\\\ */


.main section.page3 {
  background:$yellowIsh;

}

.main section.page3 .page_container {
  overflow: hidden;
  width: 80%;
  margin-top: 6vh;
  font-weight: 900;

}
/* #form{
  @media (orientation: landscape) {

   -webkit-transform: rotate(-90deg);
   -moz-transform: rotate(-90deg);
   -o-transform: rotate(-90deg);
   -ms-transform: rotate(-90deg);
   transform: rotate(-90deg);

}
} */
////////////////// FORM ALL SIZE \\\\\\\\\\\\\\\\\\\\\\\\\
*:invalid {
    -moz-box-shadow: none;
}
*:invalid {
  box-shadow: none;
}

*:-moz-submit-invalid {
  box-shadow: none;
}

*:-moz-ui-invalid {
  box-shadow:none;
}
.formEl{
  text-indent: .5em;
}
.bigBut{
  transition: color .2s ease-out;
  color: $yellowIsh;
  background-color: $redIsh;
  display: inline-block;
  width: 49%;
   &:hover{
     color: $blueIsh;
   }
}
/////////////// FORM SMALL \\\\\\\\\\\\\\\\\\\\\\\\\\\\
@include media("<desktop") {

  .main section.page3 .page_container {
    margin-top: 0;
  }

 #msg, #email,  #phone{
    float: left;
    font-size: 3em;
    font-family: 'Courier';
    color: $blueIsh;
    margin-right: 10px;
    margin-bottom: 10px;

  }
  @include media("<tablet") {
    #phone{font-size: 2em;}

  }
  #msg,{
    min-height: 50vh;
    @media (max-height: 500px) {
      min-height: 30vh;
      border: 1px solid red;
    }
  }
 #email{
    min-height: 10vh;
  }
 #phone{
    min-height: 10vh;
  }
  .lbl{

    display: none;
  }
  .formEl{
    width: 100%;
    border: none !important;
    &:focus{
      border: none !important;
      outline:none;
      background-color: rgba(white, 0.75)!important;
      &::-moz-focus-inner {
    border: 0;
    padding: 0;
}
    }

  }
  #error{
    display: block;
    width: 100%;
    text-align: center;
    color: $redIsh;
    padding: .4em;
  }

.bigBut{
  height: 10vh;
  line-height: 2.5;
  font-size: 4vh;
  @media (max-height: 500px) {
    height: 8vh;
  }
  //border: 1px solid #22b4ef;

}

#but{
  float: left;
}
#close{
  float: right;
}

}


///////////////  FORM DESKTOP  \\\\\\\\\\\\\\\\\\\\\\\\\\\
@include media(">=desktop") {
.formEl{

  display: block;
  width: 100%;
  height: 8vh;
  font-size: 2vh;
  border: none !important;
  padding: 5px;
  padding-left: 0;
  background-color: #fff !important;
  outline:none;
  &:focus{
    border: none !important;
    outline:none;
    background-color: rgba(white, 0.75)!important;
  }
  @include media(">=tablet") {
    width: 100%;
  }
}

.lbl {
  display: block;
  width: 100% !important;
  height: 5vh;
  padding: .1em;
  text-align: left;
  padding-top: 4vh;
  margin-bottom: -1vh;
//  background-color: #b2dee3;
  font-size: 3vh;
  @include media(">=tablet") {
  font-size: 3vh;
  }
}
#msg{
  padding-top: 3vh;
  height: 6vh;
}
.bad_input{

  &::after {
    content: "  <<<<<";
    color: $redIsh;

  }
}
#error{
  color: $redIsh;
}
.bigBut{
color: $yellowIsh;
height: 9vh;
line-height: 2.6;
font-size: 4vh;
}
#but{
float: left;
}
#close{
float: right;
}

}
