@import "_onepage-scroll";
@import "_media-queries";
@import "_radio-buttons";
*{
  -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}
a,a:hover, a:active, a:focus {
  outline: 0 !important;
}
html {
  height: 100%;
}
body {
  background: #E2E4E7;
  padding: 0;
  text-align: center;
  font-family: 'Lato';
  position: relative;
  margin: 0;
  height: 100%;
  -webkit-font-smoothing: antialiased;
}

.wrapper {
  height: 100% !important;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}


.main {
  float: left;
  width: 100%;
  margin: 0 auto;
}

header {
  position: relative;
  z-index: 10;
}
.main section .page_container {
  /* 	border-top: 1px solid red; */
  position: relative;
  top: 5%;
  margin: 0 auto 0;
  max-width: 950px;
  z-index: 3;
}
.main section  {
  overflow: hidden;
}


 /* \\\\\\\\ PAGE ONE \\\\\\\\\ */
.main section.page1 {
  background:rgb(230, 217, 200);
}
.main section.page1 h1 {
  display: inline-block;
  padding: 0;

  font-size: 8vmax;
  border-bottom: 1vw solid green;
  border-top: 1vh solid green;
  color: black;
  margin-top: 30vh;
}


.main section.page1 h2 {
  font-size: 18px;
  display: block;
  color: rgba(0,0,0,0.85);
  text-align: center;
  width: 435px;
  line-height: 160%;
}



/* \\\\\\\\ PAGE TWO \\\\\\\\\ */
section.page2{
  background-color: rgba(236, 165, 72, 0.78);
}
#langSpoke h4{
  font-size: 5.7vh;
  text-align: center;
}
#langSpoke ul, #langSpoke ul li{
  font-size: 4.7vh;
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}






/* \\\\\\\\ PAGE THREE \\\\\\\\\ */
.main section.page3 .page_container {
  overflow: hidden;
  width: 80%;
  margin-top: 5vh;
  font-weight: 900;

}
 .formEl{
  display: block;
  width: 96%;
  height: 8vh;
  font-size: 2vh;
 border: none;
 padding: 5px;

  @include media(">=tablet") {
   width: 100%;
  }
}
.lbl {
  display: block;
  width: 100% !important;
  height: 5vh;
  padding: .1em;
  text-align: left;
  padding-top: 4vh;
  margin-bottom: -1vh;
//  background-color: #b2dee3;
  font-size: 3vh;
  @include media(">=tablet") {
  font-size: 3vh;
  }
}
#phone_lbl{
  display: inline-block;
  width: 40%;
  text-align: left;
  float: left;
}
#range{
  display: inline-block;
  width: 50%;
}
.bigBut{
width: 49%;
display: inline-block;
height: 8vh;
background-color: #87e089;
line-height: 1.8;
font-size: 4vh;
}
#but{
float: left;
}
#close{
float: right;
}
