@import "_onepage-scroll";
@import "_media-queries";
@import "_colours";
//@import "compass/reset";
///////////   colors \\\\\\\\\\\\\\\\\




@font-face {
  font-family: 'MyWebFont';
  src: url('../fonts/GillSansDisplayMTPro-Bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/GillSansDisplayMTPro-Bold.ttf')  format('truetype')
}

*{
  -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}
a,a:hover, a:active, a:focus {
  outline: 0 !important;
}
a:active{
  background-color: transparent;
}
html {
  height: 100%;
}
body {

  padding: 0;
  text-align: center;
  font-family: 'MyWebFont';
  color: $blueIsh;
  position: relative;
  margin: 0;
  height: 100%;
  -webkit-font-smoothing: antialiased;
}

.wrapper {
  height: 100% !important;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}


.main {
  float: left;
  width: 100%;
  margin: 0 auto;
}

header {
  position: relative;
  z-index: 10;
}
.main section .page_container {
  /* 	border-top: 1px solid red; */
  position: relative;
  top: 5%;
  margin: 0 auto 0;
  max-width: 950px;
  z-index: 3;
}
.main section  {
  overflow: hidden;
}


 /* \\\\\\\\ PAGE ONE \\\\\\\\\ */
.main section.page1 {
  background:$yellowIsh;
}
.main section.page1 h1 {
  display: inline-block;

  padding-bottom: 0;
  font-size: 8vmax;
  border-bottom: 1vw solid $redIsh;
  /*border-top: 1vh solid green; */
  margin-top: 30vh;
  //max-width: 80%;
  color: $blueIsh;

}


.main section.page1 h2 {
  font-size: 18px;
  display: block;
  color: $blueIsh;
  text-align: center;
  width: 435px;
  line-height: 160%;
}

#q_mark{
  position: absolute;
  bottom: 0;
  padding: 20px 30px 2px 30px;
  left: 50%;
  font-size: 5vh;
  color: $redIsh;
  cursor: pointer;
  &:hover{
    color: $blueIsh;
  }
}

/* \\\\\\\\ PAGE TWO \\\\\\\\\ */
.main section.page2{
 background-color: $blueIsh;
}
#langSpoke h4{
  font-size: 6vh;
  text-align: center;
  color: $redIsh;
}
#langSpoke ul, #langSpoke ul li{
  font-size: 4.7vh;
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
  color: $blueIsh;
}
#langSpoke ul li{
  color: $yellowIsh;
}
#contact{
  cursor: pointer;
  display: inline-block;
  border-bottom: 6px solid rgba(15, 1, 28, 0);
  transition: border-bottom .2s ease-out;
  &:hover{
    border-bottom: 6px solid $yellowIsh;
  }
}




/* \\\\\\\\ PAGE THREE \\\\\\\\\ */


.main section.page3 {
  background:$yellowIsh;

}

.main section.page3 .page_container {
  overflow: hidden;
  width: 80%;
  margin-top: 5vh;
  font-weight: 900;

}

 .formEl{
  display: block;
  width: 96%;
  height: 8vh;
  font-size: 2vh;
 border: none !important;
 padding: 5px;
 padding-left: 20px;
 background-color: #fff !important;
 outline:none;
  &:focus{
    border: none !important;
    outline:none;
    background-color: rgba(white, 0.75)!important;
  }
  @include media(">=tablet") {
   width: 100%;
  }
}

.lbl {
  display: block;
  width: 100% !important;
  height: 5vh;
  padding: .1em;
  text-align: left;
  padding-top: 4vh;
  margin-bottom: -1vh;
//  background-color: #b2dee3;
  font-size: 3vh;
  @include media(">=tablet") {
  font-size: 3vh;
  }
}
#msg{
  padding-top: 3vh;
  height: 6vh;
}
.bad_input{

  &::after {
    content: "  <<<<<";
    color: $redIsh;

  }
}
#error{
  color: $redIsh;
}
.bigBut{
width: 49%;
display: inline-block;
height: 8vh;
background-color: $redIsh;
line-height: 2.2;
font-size: 4vh;
}
#but{
float: left;
}
#close{
float: right;
}
