/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

//@import "compass/reset";
@import "../css/normalize.min.css" ;
@import "../css/foundation.min.css" ;
@import "compass/css3/transition";
@import "compass/css3/transform";
@import "compass/css3/user-interface";

@import url(http://fonts.googleapis.com/css?family=Lato:400,900);

@mixin up-to-width($breakpoint) {
    @media only screen and (max-width: $breakpoint + px) { @content; }
}
@mixin larger-than-width($breakpoint) {
    @media only screen and (min-width: $breakpoint + px) { @content; }
}


/* *{
  font-family: 'Lato' !important;
  @include user-select(none);
} */



/*html {
  background: url(../img/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {

  background-color: transparent;

}



h5{
  font-size: 1.125em;
  font-weight: 900;
  color: #333;
}
h3{
  font-size: 1.6875em;
  font-weight: 900;
  color: #333;

}





#headTitle{
  word-break: break-all;
}

//contact
p.info {
  position: absolute;
  margin-left: -9000em;
}
fieldset{
  border:none;
  margin: 0;

}

.circle {
  border: 2px solid rgba(#ffbb03,.5);
  border-radius: 50%;
  width: 140px;
  height: 140px;
  margin-top: 100px;
}
.circleBorder {
  transition: all .5s ease-out;
  border: 3px solid #ffbb03 !important;
  transition: all .9s ease-out;
  margin-left: 25px;
}
.fat{
  border:6px solid rgba(191, 154, 62, .65);
  transition: border .5s ease-out;
}
.finn{
  border: 2px solid rgba(#ffbb03,.5);

  transition: border .5s ease-out;
}



.avaiable{
  font-weight:900 ;
}

iframe{
  border: none;
  width: 100%;
  overflow: hidden;
  background-color: transparent;
  padding: 0;
  height:457px;
}
.no-pad{
  padding: 0 !important;
  overflow: hidden;
}
#pop {


  position: absolute;
  top: 10px;
  left: -1110px;
  opacity: 0;
  z-index: 0;
}



#pop.show {
  transition: opacity .9s ease-out;
  opacity: 1;
  left: -10px !important;

  @media only screen and (min-width: 40.063em) {
    left: 10px !important;

  }
}
#pop.hide {
  transition: opacity .9s ease-out;
  opacity: 0;
}




.close_pop{
  float: right;
  z-index: 200;
  font-size: 2em;
  background-color: #b6d96a;
  border: 1px solid darken(#b6d96a,20%);
  border-radius: 50%;
  font-weight: 900;
  color: #df5a49;
  width: 60px;
  height: 60px;
  cursor: pointer;
  opacity: 0.65;
  &:hover {
    transition: all .2s ease-out;
    background-color: lighten(#b6d96a, 10%);
  }





}
._fade_out{
  transition: opacity .9s ease-out;
  border-radius: 50%;
  opacity: 0;
}
._fade_in{
  transition: opacity .9s ease-out;
  opacity: 1;
}
$bg_opacity : 0.65;

.greenBg{
  background-color: rgba(#b6d96a,$bg_opacity) !important;
  //border: 1px solid darken(#b6d96a, 20%);
  border:none;

}
.redBg{
  background-color: rgba(#df5a49,$bg_opacity) !important;
  //border: 1px solid darken(#df5a49, 40%);
  margin-top: 20px;



  border:none;
}

.blueBg {
  background-color: rgba(#6ca6d9, $bg_opacity);
  //border: 1px solid darken(#6ca6d9, 40%);
  @media only screen and (min-width: 641px) and (min-height:750px) {
    //min-height: 440px !important;
  }







  border:none;
}
.blueBg, .redBg ,.greenBg{
  border-radius: 4px;
}




p.smallBlurb{
  font-size: 14px;
}
.no-js:hover:after{
  content:" requiers javascript";
  color: orange;
  background-color: #fff;
  font-weight: 900;

}
#mail {
  transition: background-color .9s ease-out;
  padding: 0 5px;
  display: block;
  color: #df5a49;
  background-color: rgba(#b6d96a, .2);

  &:hover {

    background-color: rgba(#b6d96a, .5);
  }
}
*/
///////////////////////// flickr \\\\\\\\\\\
#flickBody{
  background:none;

}

$bg_color1: #ebe8e8;
$grid_size : 60px;
$squaresAccross : 1;
$squaresDown : 4;
$borderSize : 10px;

h3.pageTitle{
  text-align: center;
  color:$bg_color1;
  a{
    color: darken($bg_color1,8%);
    &:hover{
      color: darken($bg_color1,11%);
    }
  }
}


#checkers{
  border:$borderSize solid $bg_color1 ;
  height: $grid_size * $squaresDown + $borderSize*2;
  width:$grid_size * $squaresAccross + $borderSize*2;
  background-color: $bg_color1;
  float: left;
  margin-left: 20px;
position: relative;
  &.checks{
    background-color: white;
    background-image: linear-gradient(45deg, $bg_color1 25%, transparent 25%, transparent 75%, $bg_color1 75%, $bg_color1),
    linear-gradient(45deg, $bg_color1 25%, transparent 25%, transparent 75%, $bg_color1 75%, $bg_color1);
    background-size:$grid_size*2 $grid_size*2;
    background-position: 0 0, $grid_size $grid_size;
  }
  @include larger-than-width(790) {


}
}

#draggable{
    position: relative;
    /* top: $grid_size;
    left: $grid_size; */
    width: $grid_size;
    height: $grid_size;
    background-color: darken($bg_color1,10%);
    border-radius:50% ;
    border:6px solid darken($bg_color1,12.5%);
    cursor: move;
    font-family: courier;
    text-align: center;
    color:cornflowerblue;
    font-size: 2.1em;
    line-height: 1.4;
    @include transition(border 0.2s ease-in-out);

    &:hover{
      border:6px solid darken($bg_color1,15.5%);
    }
}
#img_div{

  margin: 0 auto;
  position: relative;
  clear: both;
  text-align: center;
  @include larger-than-width(790) {
    float: left;
    margin-left: 20px;
    clear: none;

  }
  img{
    border:10px solid $bg_color1;
    margin-top: 20px;
    @include larger-than-width(790) {
      margin-top: 0;
    }
  }
}


#controls{
  border:$borderSize solid $bg_color1 ;
  display: inline-block;
  padding: 1  0px;
  text-align: center;
  width: 190px;
float: left;
font-size: 0.75em;
  @include larger-than-width(790) {

font-size: 1em;
    width: 210px;
  }
}
/* #wrap{
  position: relative;
  top: 70px;
  width: 790px;
  margin: 0 auto;


} */
#wrap{
  position: relative;
  top: 20px;
  margin: 0 auto;
  width: 450px;
  @include larger-than-width(790) {

    top: 70px;
    width: 790px;

  }
}


 #title, #tit, {

  color:#fff;
/*   padding:  5px 8px; */
  padding: 0;
  display: inline-block;
  width: 90px;
  margin-top: 5px;
  background-color: #9f9e9e;
  @include transition(all 0.4s ease-in-out);
  @include larger-than-width(790) {
    width: 115px;
  }
}
#title.moving{
  color: #fff;
  background-color: rgba(12, 128, 14, 0.58);

}
#title.noImage{
  color:#f7ef0a !important;
  background-color: rgba(219, 30, 30, 0.71);

}
a.butto{
  width: 90px;
  font-size: 1.15em;
  background-color: #51b5e9;
  color:#fff;
  padding:5px 8px;
  display: inline-block;
  margin-bottom: 3px;
  @include larger-than-width(790) {
    width: 115px;
  }

  @include transition(background-color 0.3s ease-in-out);
  &:hover{
    background-color: #2b9bbd;
  }
  &.active{
    background-color: #1687b6;
  }
}
#thumbs{

  img{
    width: 60px;
    border: 2px solid $bg_color1;
    &.active{
      border: 5px solid #504c57;
    }
  }
}
.hidden{
  display: none;
}
#toggleMode{
  font-size: 1em;
  height: 24px;
  width: 90px;
  background-color:rgba(12, 128, 14, 0.68);
  padding:  10px 0px;
  padding-bottom: 9px;
  text-align: center;
  color: #fff;
  margin: 9px auto;
  display: block;
  line-height: 0;
  cursor: pointer;
  @include larger-than-width(790) {
    width: 115px;
    font-size: 1em;
    padding:  10px 4px;
  }
  @include transition(background-color 0.3s ease-in-out);
  &:hover{
    background-color: rgba(12, 128, 14, 0.58);
  }
}
///////////// POPS  \\\\\\\\\\\\\\\\\\\\\\

#popsDiv{
  position: absolute;top: 0;
  padding: 20px;
  margin: 0 auto;
  text-align: center;
  z-index: 200;
  width: 100%;
  height: 100%;

  background-color:#1d1f21;
  img{
    border:15px solid $bg_color1;
    border-bottom: 25px solid $bg_color1;
    border-radius: 2px;
    padding: 2px;
    background-color: #c8c2c2;
    max-height:91%;
  }
h5.popsTitle{
color:#fbf8f8;
padding: 10px;
}
}



//////////////////////////////////////////////////////////////////////
//___________  PLAN _____________________________
//////////////////////////////////////////////////////////////////////
#planBody{
  background:none;
}
#plan{
  &.thirdFloor{
    width: 1509px;
    height: 1067px;
    background: url(../img/thirdFloor_4.jpg) no-repeat;

  }
  &.secondFloor{
    width: 1469px;
    height: 1045px;
    background: url(../img/secondFloor_2.jpg) no-repeat;
  }
position: relative;
}

@for $i from 0 through 30 {
  .youAreHere#{$i}{

    width: 40px;
    height: 40px;
    border-radius:25px;
    background-color: #2eb0e7;
    border:6px solid #e31732;


    position: absolute;
    top: #{40+$i*10}px;
    left: #{20+$i*10}px;
    cursor: move;

    color: #f3eb64;
    &:after{
    //  content:"&bull;"
    }

  }
}
p.inner{
  position: relative;
  width: 15px;
  height: 15px;
  border-radius: 10px;
  border:1px solid #f3eb64;

  background-color:  #f3eb64;
  margin: 0 auto;

  margin-top: 6px;;
}

@for $i from 0 through 30 {
  .smoke#{$i}{

    width: 30px;
    height: 30px;
    border-radius:25px;
    background-color: #fdef55;
    border:1px solid #000;
    position: absolute;
    top: #{40+$i*10}px;
    left: #{20+$i*10}px;
    font-size: 1.5em;
    text-align: center;
    cursor: move;
  }
}

@for $i from 0 through 30 {
  .blanket#{$i}{

    width: 50px;
    height: 50px;
    background:url(../img/star.svg) no-repeat ;
    position: absolute;
    top: #{40+$i*10}px;
    left: #{20+$i*10}px;


    cursor: move;
  }
}

@for $i from 0 through 30 {
  .smoke_e#{$i}{

    width: 30px;
    height: 30px;
    border-radius:25px;
    background-color: #fdef55;
    border:1px solid #000;
    position: absolute;
    top: #{40+$i*10}px;
    left: #{20+$i*10}px;
    font-size: 1.25em;
    line-height: 1.4;
    font-weight: 200;
    text-align: center;
    cursor: move;
      &:after{
        content:"E";
      }

  }
}


@for $i from 0 through 30 {
  .firePoint#{$i}{
@include rotate(45deg);
    width: 30px;
    height: 30px;
    background-color: #4ab6e2;
    position: absolute;
    top: #{40+$i*10}px;
    left: #{20+$i*10}px;
    border:1px solid black;
    cursor: move;
  }
}

@for $i from 0 through 30 {
  p.hydrent#{$i}{
margin: 0;
    &:after,
    &:before {
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-bottom: 30px solid #66ba5b;
      top: #{40+$i*10}px;
      content: '';
      left: #{20+$i*10}px;
      margin-left: -20px;
      position: absolute;
    }

    /* Styling for second triangle (border) */

    &:before {
      border-left: 23px solid transparent;
      border-right: 23px solid transparent;
      border-bottom: 34px solid ;
      border-bottom-color: black; /* Can't be included in the shorthand to work */
      top: #{38+$i*10}px;
      margin-left: -23px;
    }
    cursor: move;
  }
}


.beGone{
  cursor: no-drop;
}


.newIcon{
margin: 3px 0 0 10px;
border-bottom: 1px solid #21101f;


}


#select{
  display: inline-block;
  width: 170px;
  margin: 0;

}
#add{
  font-weight: 900;
  font-size: 2.5em;
  color: #1adc14;
  line-height: 0;
  margin: 10px 0 0 10px;
  &:hover{
    color: darken(#1adc14,10%);
  }
}

#tits{
  font-size: 2.5em;
  font-family: Helvetica !important;
  border: none;
  margin: 0 auto;
  text-align: center;
  width: 90%;

}

/*/////////////////////////////////////////////////////////////////

//_______________ NEW INDEX _______________________________________
____________________________________________________________________*/

@import url(http://fonts.googleapis.com/css?family=Open+Sans:800);
#body {
    font-family: courier;
    margin:  0 20%;
    @media screen and (max-width: 1000px) {
        margin:  0 10%;
    }
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNSIgaGVpZ2h0PSIxNSI+CjxyZWN0IHdpZHRoPSI1MCIgaGVpZ2h0PSI1MCIgZmlsbD0iIzI4MjgyOCI+PC9yZWN0Pgo8Y2lyY2xlIGN4PSIzIiBjeT0iNC4zIiByPSIxLjgiIGZpbGw9IiMzOTM5MzkiPjwvY2lyY2xlPgo8Y2lyY2xlIGN4PSIzIiBjeT0iMyIgcj0iMS44IiBmaWxsPSJibGFjayI+PC9jaXJjbGU+CjxjaXJjbGUgY3g9IjEwLjUiIGN5PSIxMi41IiByPSIxLjgiIGZpbGw9IiMzOTM5MzkiPjwvY2lyY2xlPgo8Y2lyY2xlIGN4PSIxMC41IiBjeT0iMTEuMyIgcj0iMS44IiBmaWxsPSJibGFjayI+PC9jaXJjbGU+Cjwvc3ZnPg==");


}
#outer{
  border: 35px solid rgba(#aaa,.1);
}
h1{
    font-family:'Gill Sans' ,'Open Sans',Helvetica, sans-serif;
    font-weight: 900;
    text-align: center;
      font-size: 4em;
    padding: 40px 10px;
}

#one {
    min-height: 330px;
    width:100%;
    background-image:url('http://farm6.staticflickr.com/5324/9656307798_0fd21e725b_h.jpg');
    background-attachment:fixed;
    background-size: cover;
    P {
        background-color: rgba(black, .45);
        padding:5px 30% ;
        color: #3477b0;
        font-size: 2.1em;
        line-height: 1.25;
        text-align: center;
    }
    h1{
        color:#bcc749;
        text-shadow: 1px 1px 1px #fc7b0c;
    }
}
#two {
    min-height: 330px;
    margin-top: -3px;
    width:100%;
    background-image:url('http://farm8.staticflickr.com/7284/9653068581_bca0dbffec_h.jpg');
    background-attachment:fixed;
    background-size: cover;
    P {
        background-color: rgba(pink, .4);
        padding: 10px 20%;
        line-height: 50px;
        text-align: center;
    }
    h1{
        color: #49a447;
        text-shadow: 1px 1px 1px #df5853;
        padding: 150px 0px;
    }
}
#three {
    min-height: 330px;
    width:100%;
    background-image:url('http://farm8.staticflickr.com/7284/9653068581_bca0dbffec_h.jpg');
    background-attachment:fixed;
    background-size:cover;
    P {
        background-color: rgba(#8e6c45, .35);
        padding: 15px 15%;
        line-height: 30px;
        font-size: 1.3em;
        color:red;
        text-align: center;
    }
    h1{
        color: #d8c5b8;
        text-shadow: 1px 1px 1px #030207;

    }
}
#fill {
    min-height: 200px;
    padding:20px;
    font-size:2em;
    background-color: rgba(198, 202, 74, 0.75);
    p{
      text-align: center;

      font-size: 3em;
    }
}
footer{
    min-height:400px;
  background-image:url('http://farm6.staticflickr.com/5324/9656307798_0fd21e725b_h.jpg');
    background-attachment:fixed;
    background-size: cover;
    margin-top: -5px;
    h1{
    color: #325d8e;
  }
}
.js{
  color: #3a0002;
}
.css3{
  color: #306ca3;
}
.html5{
  color: #af4e16;
}
