/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

//@import "compass/reset";
@import "../css/normalize.min.css" ;
@import "../css/foundation.min.css" ;

@import url(http://fonts.googleapis.com/css?family=Lato:400,900);




*{
  font-family: 'Lato' !important;

}



html {
  background: url(../img/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {

  background-color: transparent;

}



h5{
  font-size: 1.125em;
  font-weight: 900;
  color: #333;
}
h3{
  font-size: 1.6875em;
  font-weight: 900;
  color: #333;

}





#headTitle{
  word-break: break-all;
}

//contact
p.info {
  position: absolute;
  margin-left: -9000em;
}
fieldset{
  border:none;
  margin: 0;

}

.circle {
  border: 2px solid rgba(#ffbb03,.5);
  border-radius: 50%;
  width: 140px;
  height: 140px;
  margin-top: 100px;
}
.circleBorder {
  transition: all .5s ease-out;
  border: 3px solid #ffbb03 !important;
  transition: all .9s ease-out;
  margin-left: 25px;
}
.fat{
  border:6px solid rgba(191, 154, 62, .65);
  transition: border .5s ease-out;
}
.finn{
  border: 2px solid rgba(#ffbb03,.5);

  transition: border .5s ease-out;
}



.avaiable{
  font-weight:900 ;
}

iframe{
  border: none;
  width: 100%;
  overflow: hidden;
  background-color: transparent;
  padding: 0;
  height:457px;
}
.no-pad{
  padding: 0 !important;
  overflow: hidden;
}
#pop {


  position: absolute;
  top: 10px;
  left: -1110px;
  opacity: 0;
  z-index: 0;
}



#pop.show {
  transition: opacity .9s ease-out;
  opacity: 1;
  left: -10px !important;

  @media only screen and (min-width: 40.063em) {
    left: 10px !important;

  }
}
#pop.hide {
  transition: opacity .9s ease-out;
  opacity: 0;
}




.close_pop{
  float: right;
  z-index: 200;
  font-size: 2em;
  background-color: #b6d96a;
  border: 1px solid darken(#b6d96a,20%);
  border-radius: 50%;
  font-weight: 900;
  color: #df5a49;
  width: 60px;
  height: 60px;
  cursor: pointer;
  opacity: 0.65;
  &:hover {
    transition: all .2s ease-out;
    background-color: lighten(#b6d96a, 10%);
  }





}
._fade_out{
  transition: opacity .9s ease-out;
  border-radius: 50%;
  opacity: 0;
}
._fade_in{
  transition: opacity .9s ease-out;
  opacity: 1;
}
$bg_opacity : 0.65;

.greenBg{
  background-color: rgba(#b6d96a,$bg_opacity) !important;
  //border: 1px solid darken(#b6d96a, 20%);
  border:none;

}
.redBg{
  background-color: rgba(#df5a49,$bg_opacity) !important;
  //border: 1px solid darken(#df5a49, 40%);
  margin-top: 20px;



  border:none;
}

.blueBg {
  background-color: rgba(#6ca6d9, $bg_opacity);
  //border: 1px solid darken(#6ca6d9, 40%);
  @media only screen and (min-width: 641px) and (min-height:750px) {
    //min-height: 440px !important;
  }







  border:none;
}
.blueBg, .redBg ,.greenBg{
  border-radius: 4px;
}




p.smallBlurb{
  font-size: 14px;
}
.no-js:hover:after{
  content:" requiers javascript";
  color: orange;
  background-color: #fff;
  font-weight: 900;

}
#mail {
  transition: background-color .9s ease-out;
  padding: 0 5px;
  display: block;
  color: #df5a49;
  background-color: rgba(#b6d96a, .2);

  &:hover {

    background-color: rgba(#b6d96a, .5);
  }
}
///////////////////////// flickr \\\\\\\\\\\
#flickBody{
  background:none;
}
$bg_color1: #eee;
$grid_size : 60px;
$squaresAccross : 1;
$squaresDown : 4;
$borderSize : 10px;
#strips{
    float: left;
    border:$borderSize solid $bg_color1 ;
    min-height: $grid_size * $squaresDown + $borderSize*2;
    width:$grid_size * $squaresAccross + $borderSize*2;
   background-color: white;
background-image: linear-gradient(45deg, $bg_color1 25%, transparent 25%, transparent 75%, $bg_color1 75%, $bg_color1),
    linear-gradient(45deg, $bg_color1 25%, transparent 25%, transparent 75%, $bg_color1 75%, $bg_color1);
background-size:$grid_size*2 $grid_size*2;
background-position: 0 0, $grid_size $grid_size;
}

#draggable{
    position: relative;
    /* top: $grid_size;
    left: $grid_size; */
    width: $grid_size;
    height: $grid_size;
    background-color: darken($bg_color1,10%);
    border-radius:50% ;
    cursor: move;
    font-family: courier;
    text-align: center;
    color:cornflowerblue;
    font-size: 2.1em;
    line-height: 1.8;
}
#img_div{
    float: left;
     border:10px solid $bg_color1 ;
    margin-left: 20px;
    background-color: $bg_color1;
}
#tagNamdisple{
    display: block;
}
#controls{
  border:$borderSize solid $bg_color1 ;
  float: left;
  display: inline-block;
  margin-left: 20px;
  padding: 10px;
  text-align: center;
  width: 200px;
}
#wrap{

  width: 715px;
  margin: 50px auto;
}
