<div class="large-2 push-10 sidebar-large columns">
    <h1>TRES</h1>
</div>
<div class="large-10 pull-2 columns main_event_two">
    <p> <input type="text" ng-model="search" autofocus="autofocus" placeholder="Search by Title"></p>
<span   ng-repeat="i in filtered = ( items |filter:{title:search} | startFrom:(currentPage*pageSize)  | limitTo:pageSize) "  ng-init="updatePageNums()">
    <!--<li ng-repeat='item in filtered = (items | filter:filterExpr)'>{{item.t}}</li>-->
                <h1>{{i.title}}</h1>
    <p ng-bind-html="i.content | unsafe"></p>
</span>

     <hr>
    <button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
        Previous
    </button>
    {{currentPage+1}}/{{numPages }}
    <button ng-disabled="currentPage >= items.length/pageSize - 1  " ng-click="currentPage=currentPage+1">
        Next
    </button>
    Filtered list has {{filtered.length}} items      : filtered.length > pageSize =   {{ filtered.length > pageSize}}
    <p>Add More content <a target="new"
                           href="https://docs.google.com/forms/d/1m2_r2rX0xlKvIeaIXtavcGFI_Z3R6AVFJtVwxZrs63M/viewform">HERE..</a>
    </p>
</div>







