<div class="large-2 push-10 sidebar-large columns">
    <h1>DOS</h1>
</div>
<div class="large-10 pull-2 columns main_event_two">
<span ng-repeat="f in d ">
    <h1>{{d[$index].gsx$title.$t}}</h1>
    <!--<p>{{d[$index].gsx$content.$t}}</p>-->
     <p ng-bind-html="d[$index].gsx$content.$t | unsafe"></p>
     <img ng-class="{'no-image': d[$index].gsx$img.$t ==''}" ng-src="{{d[$index].gsx$img.$t}}" alt=""/>
          <hr><hr>
</span>

    <p>Add More content <a target="new"
                           href="https://docs.google.com/forms/d/1SMV9f9EOYfeJym3Lsix7G0Zz44bmsSZREXRX-TM4kTA/viewform">HERE</a>
    </p>

</div>







