
    <div class="large-2 columns hohoho small-6">
        <h1>DOS</h1>
    </div>


    <div style="background-color: rgba(238,211,227,0.11);" class="large-10 columns ">
<span ng-repeat="f in d ">
    <h1>{{d[$index].gsx$title.$t}}</h1>
    <!--<p>{{d[$index].gsx$content.$t}}</p>-->
     <p ng-bind-html="d[$index].gsx$content.$t | unsafe"></p>
     <img ng-class="{'no-image': d[$index].gsx$img.$t ==''}" ng-src="{{d[$index].gsx$img.$t}}" alt=""/>
          <hr><hr>
</span>

        <p>Add More content <a target="new"
                               href="https://docs.google.com/forms/d/1SMV9f9EOYfeJym3Lsix7G0Zz44bmsSZREXRX-TM4kTA/viewform">HERE</a>
        </p>

    </div>




