<div class="large-2 push-10 sidebar-large columns" ng-init="setPage()">
    <h1>DOS</h1>
</div>
<div class="large-10 pull-2 columns main_event_two">
<span  ng-repeat="f in d | startFrom:currentPage*pageSize | limitTo:pageSize"  ng-init="updatePageNums()">
    <h1 class="custom-panel">{{f.gsx$title.$t}}</h1>
    <!--<p>{{d[$index].gsx$content.$t}}</p>-->
     <p ng-bind-html="f.gsx$content.$t | unsafe"></p>
     <img ng-class="{'no-image': f.gsx$img.$t ==''}" ng-src="{{f.gsx$img.$t}}" alt=""/>
          <hr><hr>
</span>


    <button scroll-on-click ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1; changeTarget(currentPage)">
        Previous
    </button>
    {{currentPage }}/{{numPages }}
    <button scroll-on-click ng-disabled="currentPage >= d.length/pageSize - 1" ng-click="currentPage=currentPage+ +1; changeTarget(currentPage)">
        Next
    </button>
    <hr>
        <p>Add More Content <a target="new"
                               href="https://docs.google.com/forms/d/1m2_r2rX0xlKvIeaIXtavcGFI_Z3R6AVFJtVwxZrs63M/viewform">Here</a>:
          &nbsp;  Posts Per Page =  <input id="pageNumInput" type="number" ng-model="pageSize">
        </p>

</div>







