body {
  font-family: monospace;
  padding: 0;
  margin: 0;
  background-color: gainsboro;
}

ul {
  list-style-type: none;

  li {
    padding-bottom: .3rem;
  }
}

img {
  align-self: baseline;
  cursor: pointer !important;
  width: 18px;
  margin-bottom: -5px;
}

input {
  max-width: 100px;
}

form {
  padding-top: .5rem;
  padding-left: .5rem;
}

#add_record {
  background-color: rgb(52, 118, 239);
  color: azure;
  outline: none;
  padding: 3px 6px;
  border: 2px solid rgb(108, 200, 240);
  border-radius: 6px;
  cursor: pointer;
}

h4,
h4+li {
  padding: 0;
  margin: 0;
  color: rgb(12, 109, 207);
}