body {
  font-family: monospace;
  padding: 0;
  margin: 0;
  background-color: rgba(220, 220, 220, 0.595);
  margin-top: 2rem;
  color: rgb(62, 62, 107);

}

#container{
  margin:  0 auto;
  text-align: center;
  max-width: 400px;
  padding: 10px;
}

ul {
  list-style-type: decimal;
  text-align: left;

  //outline: 1px solid red;
  li {
    padding-bottom: .3rem;
    margin-left: 2rem;

    // max-width: 350px;
  }
}



img {
  align-self: baseline;
  cursor: pointer !important;
  width: 18px;
  margin-bottom: -5px;
}

input {
  max-width: 80px;
}

.foo{
  color: rgb(26, 45, 7);
}
.date{
  color: rgb(36, 139, 236);
}

#add_record {
  background-color: rgb(12, 109, 207);
  color: azure;
  outline: none;
  padding: 1px 6px;
  border: 2px solid rgb(91, 104, 109);
  border-radius: 3px;
  cursor: pointer;

  &:hover {
    border: 2px solid rgb(247, 174, 6);
  }

  &:active {
    background-color: rgb(247, 174, 6);
    border: 2px solid rgb(108, 200, 240);
  }
}

h3{
  padding: 0;
  margin: .4rem;
  color: rgb(12, 109, 207);
  font-size: 1.5rem;

}

#form {
 
  //outline: 1px solid red;
  margin-bottom: .75rem;
  text-align: left;
  label {
    color: rgb(12, 109, 207);
    font-weight: 900; 
  }

}

#average{
  margin-top: 1rem;
  margin-bottom: 1.2rem;

  p{
    font-size: 1.1rem;
    padding: .3rem;
  }
}

#reset {
  font-size: .95rem;
  color: coral;
  cursor: pointer;
 padding-bottom: .6rem;
 padding-top: .2rem;

}