// @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --green: #65aa5e;
  --yellow: #eecb32;
  --lightGray: #d8d8d8;
  --white: #fff;
  --black: #464242e1;
}
body {
  max-width: 440px;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  //   outline: 1px solid red;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

#container {
  display: grid;
  margin-top: 15vh;
  margin-bottom: 4vh;
  margin-left: 5px;
  margin-right: 5px;
  grid-template-columns: repeat(5, minmax(20px, 60px));
  @media only screen and (max-height: 520px) {
    grid-template-columns: repeat(5, minmax(20px, 40px));
  }
  column-gap: 5px;
  row-gap: 5px;
  grid-row: auto;
  justify-content: center;

  @media only screen and (max-height: 610px) {
    margin-top: 3px;
  }

  @media only screen and (max-height: 430px) {
    margin-bottom: 3px;
  }
  /* outline: 1px solid red; */
}

.box {
  aspect-ratio: 1/1;
  border: 1px solid rgb(209, 199, 199);
  text-align: center;
  text-transform: uppercase;
  line-height: 190%;
  font-weight: 700;
  font-size: 180%;

  @media only screen and (max-width: 310px) {
    font-size: 150%;
  }

  @media only screen and (max-height: 520px) {
    font-size: 120%;
  }

  background-color: white;
  transition: all 0.5s;
}

.darkBorder {
  border: 1px solid rgb(48, 40, 40);
}

.green {
  color: var(--white);
  background-color: var(--green);
  border: 1px solid var(--green);
}

.black {
  color: var(--white);
  background-color: var(--black);
  border: 1px solid var(--black);
}

.yellow {
  color: var(--white);
  border: 1px solid var(--yellow);
  background-color: var(--yellow);
}

#kBoardTop,
#kBoardMid,
#kBoardLow {
  display: grid;
  column-gap: 5px;
  row-gap: 2px;
  margin: 0 5px;

  @media only screen and (max-width: 300px) {
    column-gap: 4px;
  }
}
#kBoardTop {
  grid-template-columns: repeat(10, 1fr);

  /* outline: 1px solid rgb(71, 230, 50); */
}

#kBoardMid {
  grid-template-columns: repeat(9, 1fr);
}

#kBoardLow {
  grid-template-columns: repeat(11, 1fr);
}

#enter {
  grid-column: 1/3;
  @media only screen and (max-width: 360px) {
    font-size: 0.8rem;
  }
}
#back {
  grid-column: 10/12;
}

.pad,
.padLong {
  cursor: pointer;

  text-align: center;
  padding: 0.6rem 0.4rem;
  background-color: var(--lightGray);
  font-size: 1rem;
  font-weight: 400;

  @media only screen and (max-width: 300px) {
    font-size: 0.8rem;
  }

  text-transform: uppercase;
  color: var(--black);
  border-radius: 3px;

  &:active {
    background-color: rgb(173, 162, 162);
    color: aliceblue;
  }
}

.top {
  grid-row-start: 1;
}

.mid {
  grid-row-start: 2;
}

.low {
  grid-row-start: 3;
}

.greenKey {
  background-color: var(--green) !important;
  color: var(--white);
}

.orangeKey {
  background-color: var(--yellow)!important;
  color: var(--white);
}
.blackKey {
  background-color: var(--black);
  color: var(--white);
}

/////////////////////////////////////// alertz   \\\\\\\\\\

#alert {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  opacity: 1;
  // background-color: rgba(132, 197, 230, 0.014);
  position: fixed;
  z-index: 90000000000;

  p {
    text-align: center;
    opacity: 1;
    color: var(--white);
    background-color: rgb(79, 167, 218);
    color: rgb(247, 247, 247);
    font-size: 1.25rem;
    width: 200px;
    padding: 1rem;
    margin: 0 auto;
    padding-bottom: 1.3rem;
    text-align:left ;
    border-radius: 3px;
  }

  span{
    color: var(--yellow);
    background-color: darken(rgb(79, 167, 218),5);
    
    display: block;
   
    padding: 3px;
    font-size: 1rem;
    margin: 0;
    margin-bottom: -15px;
    &:nth-of-type(1){
 
      margin-top: 15px!important;
    }
    
  }
  
}
/*  span.lv-4{
   color: antiquewhite!important;
 } */
.d-none {
  display: none ;
}

