@import url(../css/normalize.min.css);
/* line 3, ../sass/indx.scss */
* {
  font-family: courier;
  text-align: center;
  padding: 0;
  margin: 0;
}

/* line 9, ../sass/indx.scss */
html {
  background-color: #eee;
  background-image: -moz-linear-gradient(top, #eeeeee, rgba(230, 220, 220, 0.74));
  background-image: -webkit-linear-gradient(top, #eeeeee, rgba(230, 220, 220, 0.74));
  background-image: linear-gradient(to bottom, #eeeeee, rgba(230, 220, 220, 0.74));
  height: 100%;
}

/* line 14, ../sass/indx.scss */
body {
  margin-left: 31%;
  margin-right: 30%;
  margin-top: 25px;
  color: #230c01;
  font-size: 80%;
}

/* line 23, ../sass/indx.scss */
p {
  line-height: .75;
}

/* line 26, ../sass/indx.scss */
h4 {
  font-weight: bold;
}

/* line 29, ../sass/indx.scss */
li {
  list-style-type: none;
  padding: .25em;
}

/* line 33, ../sass/indx.scss */
.bdrTop {
  background-image: url("../img/bdrDot2.gif");
  background-repeat: repeat-x;
  margin: 1em;
  font-size: 1.3em !important;
}

/* line 39, ../sass/indx.scss */
.cloudImg {
  margin-top: 1em;
}

/*form-------------------------------*/
/* line 43, ../sass/indx.scss */
#form {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 380px;
  height: 360px;
  margin-left: -190px;
  margin-top: -200px;
  padding-top: 10px;
  border: 10px solid #6bb7d5;
  border-radius: 7px;
  background-color: rgba(128, 193, 226, 0.64);
  background-image: -moz-linear-gradient(top, rgba(128, 193, 226, 0.54), rgba(97, 189, 229, 0.44));
  background-image: -webkit-linear-gradient(top, rgba(128, 193, 226, 0.54), rgba(97, 189, 229, 0.44));
  background-image: linear-gradient(to bottom, rgba(128, 193, 226, 0.54), rgba(97, 189, 229, 0.44));
}

/* line 59, ../sass/indx.scss */
#contact {
  cursor: pointer;
  transition: color .2s ease-out;
}
/* line 62, ../sass/indx.scss */
#contact:hover {
  color: #495e58;
}

/* line 67, ../sass/indx.scss */
#but, #error {
  margin-top: 10px;
  z-index: 300;
}

/* line 71, ../sass/indx.scss */
#error {
  display: block;
  line-height: 1.42857143;
  color: #ff0019;
  background-color: #c4dcc3;
  margin: 10px 10%;
  border-radius: 4px;
}
/* line 78, ../sass/indx.scss */
#error.actif {
  border: 1px solid #10e348;
}

/* line 82, ../sass/indx.scss */
#but, #close {
  margin-bottom: 30px;
  display: inline-block;
  background-color: #c0c0c0;
  padding: 5px 10px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  transition: border .3s ease-out;
}
/* line 102, ../sass/indx.scss */
#but:hover, #close:hover {
  border: 1px solid #a4a0a5;
}

/* line 107, ../sass/indx.scss */
#close {
  position: absolute;
  right: 8px;
  float: right;
  font-size: .9em;
}

/* line 115, ../sass/indx.scss */
.hid {
  display: none;
}

/* line 118, ../sass/indx.scss */
.vis {
  display: block;
  position: absolute;
}

/* line 122, ../sass/indx.scss */
.green {
  color: #076731;
  font-size: 3em;
}

/* line 126, ../sass/indx.scss */
.fade {
  opacity: .2;
}

/* line 131, ../sass/indx.scss */
input, textarea, label {
  display: block;
  margin: 0 auto;
  text-align: left !important;
  width: 200px;
}

/* line 140, ../sass/indx.scss */
label, input, textarea {
  padding: 5px;
}

/* line 143, ../sass/indx.scss */
footer {
  height: 20px;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: rgba(1, 31, 23, 0.69);
  background-image: -moz-linear-gradient(top, rgba(0, 29, 20, 0.15), rgba(1, 31, 23, 0.39));
  background-image: -webkit-linear-gradient(top, rgba(0, 29, 20, 0.15), rgba(1, 31, 23, 0.39));
  background-image: linear-gradient(to bottom, rgba(0, 29, 20, 0.15), rgba(1, 31, 23, 0.39));
  width: 100%;
}

@media (min-height: 650px) {
  /* line 154, ../sass/indx.scss */
  footer {
    height: 100px;
    border-bottom: 25px solid #0c1e18;
  }

  /* line 158, ../sass/indx.scss */
  body {
    margin-top: 75px;
    font-size: 100%;
  }

  /* line 162, ../sass/indx.scss */
  #close {
    font-size: .7em;
  }
}
