/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url(../css/normalize.min.css);
@import url(../css/foundation.min.css);
@import url(http://fonts.googleapis.com/css?family=Lato:400,900);
/* line 21, ../sass/screen.scss */
* {
  font-family: 'Lato' !important;
}

/* line 28, ../sass/screen.scss */
html {
  background: url(../img/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 36, ../sass/screen.scss */
body {
  background-color: transparent;
}

/* line 44, ../sass/screen.scss */
h5 {
  font-size: 1.125em;
  font-weight: 900;
  color: #333;
}

/* line 49, ../sass/screen.scss */
h3 {
  font-size: 1.6875em;
  font-weight: 900;
  color: #333;
}

/* line 60, ../sass/screen.scss */
#headTitle {
  word-break: break-all;
}

/* line 65, ../sass/screen.scss */
p.info {
  position: absolute;
  margin-left: -9000em;
}

/* line 69, ../sass/screen.scss */
fieldset {
  border: none;
  margin: 0;
}

/* line 75, ../sass/screen.scss */
.circle {
  border: 2px solid rgba(255, 187, 3, 0.5);
  border-radius: 50%;
  width: 140px;
  height: 140px;
  margin-top: 100px;
}

/* line 82, ../sass/screen.scss */
.circleBorder {
  transition: all .5s ease-out;
  border: 3px solid #ffbb03 !important;
  transition: all .9s ease-out;
  margin-left: 25px;
}

/* line 88, ../sass/screen.scss */
.fat {
  border: 6px solid rgba(191, 154, 62, 0.65);
  transition: border .5s ease-out;
}

/* line 92, ../sass/screen.scss */
.finn {
  border: 2px solid rgba(255, 187, 3, 0.5);
  transition: border .5s ease-out;
}

/* line 100, ../sass/screen.scss */
.avaiable {
  font-weight: 900;
}

/* line 104, ../sass/screen.scss */
iframe {
  border: none;
  width: 100%;
  overflow: hidden;
  background-color: transparent;
  padding: 0;
  height: 457px;
}

/* line 112, ../sass/screen.scss */
.no-pad {
  padding: 0 !important;
  overflow: hidden;
}

/* line 116, ../sass/screen.scss */
#pop {
  position: absolute;
  top: 10px;
  left: -1110px;
  opacity: 0;
  z-index: 0;
}

/* line 128, ../sass/screen.scss */
#pop.show {
  transition: opacity .9s ease-out;
  opacity: 1;
  left: -10px !important;
}
@media only screen and (min-width: 40.063em) {
  /* line 128, ../sass/screen.scss */
  #pop.show {
    left: 10px !important;
  }
}

/* line 138, ../sass/screen.scss */
#pop.hide {
  transition: opacity .9s ease-out;
  opacity: 0;
}

/* line 146, ../sass/screen.scss */
.close_pop {
  float: right;
  z-index: 200;
  font-size: 2em;
  background-color: #b6d96a;
  border: 1px solid #87b02d;
  border-radius: 50%;
  font-weight: 900;
  color: #df5a49;
  width: 60px;
  height: 60px;
  cursor: pointer;
  opacity: 0.65;
}
/* line 159, ../sass/screen.scss */
.close_pop:hover {
  transition: all .2s ease-out;
  background-color: #cae393;
}

/* line 169, ../sass/screen.scss */
._fade_out {
  transition: opacity .9s ease-out;
  border-radius: 50%;
  opacity: 0;
}

/* line 174, ../sass/screen.scss */
._fade_in {
  transition: opacity .9s ease-out;
  opacity: 1;
}

/* line 180, ../sass/screen.scss */
.greenBg {
  background-color: rgba(182, 217, 106, 0.65) !important;
  border: none;
}

/* line 186, ../sass/screen.scss */
.redBg {
  background-color: rgba(223, 90, 73, 0.65) !important;
  margin-top: 20px;
  border: none;
}

/* line 196, ../sass/screen.scss */
.blueBg {
  background-color: rgba(108, 166, 217, 0.65);
  border: none;
}

/* line 211, ../sass/screen.scss */
.blueBg, .redBg, .greenBg {
  border-radius: 4px;
}

/* line 218, ../sass/screen.scss */
p.smallBlurb {
  font-size: 14px;
}

/* line 221, ../sass/screen.scss */
.no-js:hover:after {
  content: " requiers javascript";
  color: orange;
  background-color: #fff;
  font-weight: 900;
}

/* line 228, ../sass/screen.scss */
#mail {
  transition: background-color .9s ease-out;
  padding: 0 5px;
  display: block;
  color: #df5a49;
  background-color: rgba(182, 217, 106, 0.2);
}
/* line 235, ../sass/screen.scss */
#mail:hover {
  background-color: rgba(182, 217, 106, 0.5);
}

/* line 241, ../sass/screen.scss */
#flickBody {
  background: none;
}

/* line 250, ../sass/screen.scss */
#checkers {
  border: 10px solid #eeeeee;
  height: 260px;
  width: 80px;
  background-color: #eeeeee;
  float: left;
  margin-left: 20px;
  position: relative;
}
/* line 258, ../sass/screen.scss */
#checkers.checks {
  background-color: white;
  background-image: linear-gradient(45deg, #eeeeee 25%, transparent 25%, transparent 75%, #eeeeee 75%, #eeeeee), linear-gradient(45deg, #eeeeee 25%, transparent 25%, transparent 75%, #eeeeee 75%, #eeeeee);
  background-size: 120px 120px;
  background-position: 0 0, 60px 60px;
}

/* line 271, ../sass/screen.scss */
#draggable {
  position: relative;
  /* top: $grid_size;
  left: $grid_size; */
  width: 60px;
  height: 60px;
  background-color: #d4d4d4;
  border-radius: 50%;
  border: 6px solid #cecece;
  cursor: move;
  font-family: courier;
  text-align: center;
  color: cornflowerblue;
  font-size: 2.1em;
  line-height: 1.4;
  -moz-transition: border 0.2s ease-in-out;
  -o-transition: border 0.2s ease-in-out;
  -webkit-transition: border 0.2s ease-in-out;
  transition: border 0.2s ease-in-out;
}
/* line 287, ../sass/screen.scss */
#draggable:hover {
  border: 6px solid #c6c6c6;
}

/* line 291, ../sass/screen.scss */
#img_div {
  margin: 0 auto;
  position: relative;
  clear: both;
  text-align: center;
}
@media only screen and (min-width: 790px) {
  /* line 291, ../sass/screen.scss */
  #img_div {
    float: left;
    margin-left: 20px;
    clear: none;
  }
}
/* line 303, ../sass/screen.scss */
#img_div img {
  border: 10px solid #eeeeee;
  margin-top: 20px;
}
@media only screen and (min-width: 790px) {
  /* line 303, ../sass/screen.scss */
  #img_div img {
    margin-top: 0;
  }
}

/* line 312, ../sass/screen.scss */
#tagNamdisple {
  display: block;
}

/* line 315, ../sass/screen.scss */
#controls {
  border: 10px solid #eeeeee;
  display: inline-block;
  padding: 10px;
  text-align: center;
  width: 200px;
  float: left;
}
@media only screen and (min-width: 790px) {
  /* line 315, ../sass/screen.scss */
  #controls {
    width: 210px;
  }
}

/* #wrap{
  position: relative;
  top: 70px;
  width: 790px;
  margin: 0 auto;


} */
/* line 336, ../sass/screen.scss */
#wrap {
  position: relative;
  top: 20px;
  margin: 0 auto;
  width: 450px;
}
@media only screen and (min-width: 790px) {
  /* line 336, ../sass/screen.scss */
  #wrap {
    top: 70px;
    width: 790px;
  }
}

/* line 350, ../sass/screen.scss */
#tagName, #title, #tit {
  color: #aaa;
  padding: 5px 8px;
  display: inline-block;
  width: 115px;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/* line 359, ../sass/screen.scss */
#title.moving {
  color: #fff;
  background-color: rgba(12, 128, 14, 0.58);
}

/* line 364, ../sass/screen.scss */
#title.noImage {
  color: #f7ef0a !important;
  background-color: rgba(219, 30, 30, 0.71);
}

/* line 369, ../sass/screen.scss */
a.butto {
  width: 115px;
  font-size: 1.15em;
  background-color: #51b5e9;
  color: #fff;
  padding: 5px 8px;
  display: inline-block;
  margin-bottom: 3px;
  -moz-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
/* line 379, ../sass/screen.scss */
a.butto:hover {
  background-color: #2b9bbd;
}
/* line 382, ../sass/screen.scss */
a.butto.active {
  background-color: #1687b6;
}

/* line 388, ../sass/screen.scss */
#thumbs img {
  width: 60px;
  border: 2px solid #eeeeee;
}
/* line 391, ../sass/screen.scss */
#thumbs img.active {
  border: 5px solid #504c57;
}

/* line 396, ../sass/screen.scss */
.hidden {
  display: none;
}

/* line 399, ../sass/screen.scss */
#check {
  height: 24px;
  width: 100px;
  background-color: rgba(12, 128, 14, 0.68);
  padding: 10px 4px;
  padding-bottom: 9px;
  text-align: center;
  color: #fff;
  margin: 9px auto;
  display: block;
  line-height: 0;
  cursor: pointer;
  -moz-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
/* line 412, ../sass/screen.scss */
#check:hover {
  background-color: rgba(12, 128, 14, 0.58);
}
