/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url(../css/normalize.min.css);
@import url(../css/foundation.min.css);
@import url(http://fonts.googleapis.com/css?family=Lato:400,900);
/* line 18, ../sass/screen.scss */
* {
  font-family: 'Lato' !important;
}

/* line 25, ../sass/screen.scss */
html {
  background: url(../img/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 33, ../sass/screen.scss */
body {
  background-color: transparent;
}

/* line 41, ../sass/screen.scss */
h5 {
  font-size: 1.125em;
  font-weight: 900;
  color: #333;
}

/* line 46, ../sass/screen.scss */
h3 {
  font-size: 1.6875em;
  font-weight: 900;
  color: #333;
}

/* line 57, ../sass/screen.scss */
#headTitle {
  word-break: break-all;
}

/* line 62, ../sass/screen.scss */
p.info {
  position: absolute;
  margin-left: -9000em;
}

/* line 66, ../sass/screen.scss */
fieldset {
  border: none;
  margin: 0;
}

/* line 72, ../sass/screen.scss */
.circle {
  border: 2px solid rgba(255, 187, 3, 0.5);
  border-radius: 50%;
  width: 140px;
  height: 140px;
  margin-top: 100px;
}

/* line 79, ../sass/screen.scss */
.circleBorder {
  transition: all .5s ease-out;
  border: 3px solid #ffbb03 !important;
  transition: all .9s ease-out;
  margin-left: 25px;
}

/* line 85, ../sass/screen.scss */
.fat {
  border: 6px solid rgba(191, 154, 62, 0.65);
  transition: border .5s ease-out;
}

/* line 89, ../sass/screen.scss */
.finn {
  border: 2px solid rgba(255, 187, 3, 0.5);
  transition: border .5s ease-out;
}

/* line 97, ../sass/screen.scss */
.avaiable {
  font-weight: 900;
}

/* line 101, ../sass/screen.scss */
iframe {
  border: none;
  width: 100%;
  overflow: hidden;
  background-color: transparent;
  padding: 0;
  height: 457px;
}

/* line 109, ../sass/screen.scss */
.no-pad {
  padding: 0 !important;
  overflow: hidden;
}

/* line 113, ../sass/screen.scss */
#pop {
  position: absolute;
  top: 10px;
  left: -1110px;
  opacity: 0;
  z-index: 0;
}

/* line 125, ../sass/screen.scss */
#pop.show {
  transition: opacity .9s ease-out;
  opacity: 1;
  left: -10px !important;
}
@media only screen and (min-width: 40.063em) {
  /* line 125, ../sass/screen.scss */
  #pop.show {
    left: 10px !important;
  }
}

/* line 135, ../sass/screen.scss */
#pop.hide {
  transition: opacity .9s ease-out;
  opacity: 0;
}

/* line 143, ../sass/screen.scss */
.close_pop {
  float: right;
  z-index: 200;
  font-size: 2em;
  background-color: #b6d96a;
  border: 1px solid #87b02d;
  border-radius: 50%;
  font-weight: 900;
  color: #df5a49;
  width: 60px;
  height: 60px;
  cursor: pointer;
  opacity: 0.65;
}
/* line 156, ../sass/screen.scss */
.close_pop:hover {
  transition: all .2s ease-out;
  background-color: #cae393;
}

/* line 166, ../sass/screen.scss */
._fade_out {
  transition: opacity .9s ease-out;
  border-radius: 50%;
  opacity: 0;
}

/* line 171, ../sass/screen.scss */
._fade_in {
  transition: opacity .9s ease-out;
  opacity: 1;
}

/* line 177, ../sass/screen.scss */
.greenBg {
  background-color: rgba(182, 217, 106, 0.65) !important;
  border: none;
}

/* line 183, ../sass/screen.scss */
.redBg {
  background-color: rgba(223, 90, 73, 0.65) !important;
  margin-top: 20px;
  border: none;
}

/* line 193, ../sass/screen.scss */
.blueBg {
  background-color: rgba(108, 166, 217, 0.65);
  border: none;
}

/* line 208, ../sass/screen.scss */
.blueBg, .redBg, .greenBg {
  border-radius: 4px;
}

/* line 215, ../sass/screen.scss */
p.smallBlurb {
  font-size: 14px;
}

/* line 218, ../sass/screen.scss */
.no-js:hover:after {
  content: " requiers javascript";
  color: orange;
  background-color: #fff;
  font-weight: 900;
}

/* line 225, ../sass/screen.scss */
#mail {
  transition: background-color .9s ease-out;
  padding: 0 5px;
  display: block;
  color: #df5a49;
  background-color: rgba(182, 217, 106, 0.2);
}
/* line 232, ../sass/screen.scss */
#mail:hover {
  background-color: rgba(182, 217, 106, 0.5);
}

/* line 238, ../sass/screen.scss */
#flickBody {
  background: none;
}

/* line 247, ../sass/screen.scss */
#strips {
  float: left;
  border: 10px solid #eeeeee;
  height: 260px;
  width: 80px;
  background-color: white;
  background-image: linear-gradient(45deg, #eeeeee 25%, transparent 25%, transparent 75%, #eeeeee 75%, #eeeeee), linear-gradient(45deg, #eeeeee 25%, transparent 25%, transparent 75%, #eeeeee 75%, #eeeeee);
  background-size: 120px 120px;
  background-position: 0 0, 60px 60px;
}

/* line 259, ../sass/screen.scss */
#draggable {
  position: relative;
  /* top: $grid_size;
  left: $grid_size; */
  width: 60px;
  height: 60px;
  background-color: #d4d4d4;
  border-radius: 50%;
  cursor: move;
  font-family: courier;
  text-align: center;
  color: cornflowerblue;
  font-size: 2.1em;
  line-height: 1.8;
}

/* line 274, ../sass/screen.scss */
#img_div {
  float: left;
  border: 10px solid #eeeeee;
  margin-left: 20px;
  background-color: #eeeeee;
}
@media only screen and (max-width: 790px) {
  /* line 274, ../sass/screen.scss */
  #img_div {
    margin: 10px auto;
    float: both;
  }
}

/* line 286, ../sass/screen.scss */
#tagNamdisple {
  display: block;
}

/* line 289, ../sass/screen.scss */
#controls {
  border: 10px solid #eeeeee;
  float: left;
  display: inline-block;
  margin-left: 20px;
  padding: 10px;
  text-align: center;
  width: 210px;
}
@media only screen and (max-width: 790px) {
  /* line 289, ../sass/screen.scss */
  #controls {
    margin: 10px auto;
    float: right;
  }
}

/* line 302, ../sass/screen.scss */
#wrap {
  position: relative;
  top: 70px;
  width: 790px;
  margin: 0 auto;
}
@media only screen and (max-width: 790px) {
  /* line 302, ../sass/screen.scss */
  #wrap {
    top: 0;
    width: 400px;
  }
}

/* line 313, ../sass/screen.scss */
#tagName, #title, #tit, .check {
  color: #aaa;
  padding: 5px 4px;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/* line 321, ../sass/screen.scss */
#title.moving {
  color: #f7ef0a !important;
  background-color: rgba(0, 0, 0, 0.71);
}

/* line 327, ../sass/screen.scss */
a.butto {
  width: 115px;
  font-size: 1.15em;
  background-color: #51b5e9;
  color: #fff;
  padding: 5px 8px;
  display: inline-block;
  margin-bottom: 3px;
  -moz-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
@media only screen and (max-width: 800px) {
  /* line 327, ../sass/screen.scss */
  a.butto {
    color: blue;
  }
}
@media only screen and (max-width: 750px) {
  /* line 327, ../sass/screen.scss */
  a.butto {
    color: green;
  }
}
@media only screen and (max-width: 700px) {
  /* line 327, ../sass/screen.scss */
  a.butto {
    color: red;
  }
}
/* line 346, ../sass/screen.scss */
a.butto:hover {
  background-color: #2b9bbd;
}
/* line 349, ../sass/screen.scss */
a.butto.active {
  background-color: #1687b6;
}

/* line 355, ../sass/screen.scss */
#thumbs img {
  width: 60px;
  border: 2px solid #eeeeee;
}
/* line 358, ../sass/screen.scss */
#thumbs img.active {
  border: 5px solid #504c57;
}

/* line 363, ../sass/screen.scss */
.hidden {
  display: none;
}
