/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url(../css/normalize.min.css);
@import url(../css/foundation.min.css);
@import url(http://fonts.googleapis.com/css?family=Lato:400,900);
/* line 22, ../sass/screen.scss */
* {
  font-family: 'Lato' !important;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

/* line 29, ../sass/screen.scss */
html {
  background: url(../img/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 37, ../sass/screen.scss */
body {
  background-color: transparent;
}

/* line 45, ../sass/screen.scss */
h5 {
  font-size: 1.125em;
  font-weight: 900;
  color: #333;
}

/* line 50, ../sass/screen.scss */
h3 {
  font-size: 1.6875em;
  font-weight: 900;
  color: #333;
}

/* line 61, ../sass/screen.scss */
#headTitle {
  word-break: break-all;
}

/* line 66, ../sass/screen.scss */
p.info {
  position: absolute;
  margin-left: -9000em;
}

/* line 70, ../sass/screen.scss */
fieldset {
  border: none;
  margin: 0;
}

/* line 76, ../sass/screen.scss */
.circle {
  border: 2px solid rgba(255, 187, 3, 0.5);
  border-radius: 50%;
  width: 140px;
  height: 140px;
  margin-top: 100px;
}

/* line 83, ../sass/screen.scss */
.circleBorder {
  transition: all .5s ease-out;
  border: 3px solid #ffbb03 !important;
  transition: all .9s ease-out;
  margin-left: 25px;
}

/* line 89, ../sass/screen.scss */
.fat {
  border: 6px solid rgba(191, 154, 62, 0.65);
  transition: border .5s ease-out;
}

/* line 93, ../sass/screen.scss */
.finn {
  border: 2px solid rgba(255, 187, 3, 0.5);
  transition: border .5s ease-out;
}

/* line 101, ../sass/screen.scss */
.avaiable {
  font-weight: 900;
}

/* line 105, ../sass/screen.scss */
iframe {
  border: none;
  width: 100%;
  overflow: hidden;
  background-color: transparent;
  padding: 0;
  height: 457px;
}

/* line 113, ../sass/screen.scss */
.no-pad {
  padding: 0 !important;
  overflow: hidden;
}

/* line 117, ../sass/screen.scss */
#pop {
  position: absolute;
  top: 10px;
  left: -1110px;
  opacity: 0;
  z-index: 0;
}

/* line 129, ../sass/screen.scss */
#pop.show {
  transition: opacity .9s ease-out;
  opacity: 1;
  left: -10px !important;
}
@media only screen and (min-width: 40.063em) {
  /* line 129, ../sass/screen.scss */
  #pop.show {
    left: 10px !important;
  }
}

/* line 139, ../sass/screen.scss */
#pop.hide {
  transition: opacity .9s ease-out;
  opacity: 0;
}

/* line 147, ../sass/screen.scss */
.close_pop {
  float: right;
  z-index: 200;
  font-size: 2em;
  background-color: #b6d96a;
  border: 1px solid #87b02d;
  border-radius: 50%;
  font-weight: 900;
  color: #df5a49;
  width: 60px;
  height: 60px;
  cursor: pointer;
  opacity: 0.65;
}
/* line 160, ../sass/screen.scss */
.close_pop:hover {
  transition: all .2s ease-out;
  background-color: #cae393;
}

/* line 170, ../sass/screen.scss */
._fade_out {
  transition: opacity .9s ease-out;
  border-radius: 50%;
  opacity: 0;
}

/* line 175, ../sass/screen.scss */
._fade_in {
  transition: opacity .9s ease-out;
  opacity: 1;
}

/* line 181, ../sass/screen.scss */
.greenBg {
  background-color: rgba(182, 217, 106, 0.65) !important;
  border: none;
}

/* line 187, ../sass/screen.scss */
.redBg {
  background-color: rgba(223, 90, 73, 0.65) !important;
  margin-top: 20px;
  border: none;
}

/* line 197, ../sass/screen.scss */
.blueBg {
  background-color: rgba(108, 166, 217, 0.65);
  border: none;
}

/* line 212, ../sass/screen.scss */
.blueBg, .redBg, .greenBg {
  border-radius: 4px;
}

/* line 219, ../sass/screen.scss */
p.smallBlurb {
  font-size: 14px;
}

/* line 222, ../sass/screen.scss */
.no-js:hover:after {
  content: " requiers javascript";
  color: orange;
  background-color: #fff;
  font-weight: 900;
}

/* line 229, ../sass/screen.scss */
#mail {
  transition: background-color .9s ease-out;
  padding: 0 5px;
  display: block;
  color: #df5a49;
  background-color: rgba(182, 217, 106, 0.2);
}
/* line 236, ../sass/screen.scss */
#mail:hover {
  background-color: rgba(182, 217, 106, 0.5);
}

/* line 242, ../sass/screen.scss */
#flickBody {
  background: none;
}

/* line 251, ../sass/screen.scss */
#checkers {
  border: 10px solid #ebe8e8;
  height: 260px;
  width: 80px;
  background-color: #ebe8e8;
  float: left;
  margin-left: 20px;
  position: relative;
}
/* line 259, ../sass/screen.scss */
#checkers.checks {
  background-color: white;
  background-image: linear-gradient(45deg, #ebe8e8 25%, transparent 25%, transparent 75%, #ebe8e8 75%, #ebe8e8), linear-gradient(45deg, #ebe8e8 25%, transparent 25%, transparent 75%, #ebe8e8 75%, #ebe8e8);
  background-size: 120px 120px;
  background-position: 0 0, 60px 60px;
}

/* line 272, ../sass/screen.scss */
#draggable {
  position: relative;
  /* top: $grid_size;
  left: $grid_size; */
  width: 60px;
  height: 60px;
  background-color: #d3cdcd;
  border-radius: 50%;
  border: 6px solid #cdc6c6;
  cursor: move;
  font-family: courier;
  text-align: center;
  color: cornflowerblue;
  font-size: 2.1em;
  line-height: 1.4;
  -moz-transition: border 0.2s ease-in-out;
  -o-transition: border 0.2s ease-in-out;
  -webkit-transition: border 0.2s ease-in-out;
  transition: border 0.2s ease-in-out;
}
/* line 289, ../sass/screen.scss */
#draggable:hover {
  border: 6px solid #c6bebe;
}

/* line 293, ../sass/screen.scss */
#img_div {
  margin: 0 auto;
  position: relative;
  clear: both;
  text-align: center;
}
@media only screen and (min-width: 790px) {
  /* line 293, ../sass/screen.scss */
  #img_div {
    float: left;
    margin-left: 20px;
    clear: none;
  }
}
/* line 305, ../sass/screen.scss */
#img_div img {
  border: 10px solid #ebe8e8;
  margin-top: 20px;
}
@media only screen and (min-width: 790px) {
  /* line 305, ../sass/screen.scss */
  #img_div img {
    margin-top: 0;
  }
}

/* line 315, ../sass/screen.scss */
#controls {
  border: 10px solid #ebe8e8;
  display: inline-block;
  padding: 10px;
  text-align: center;
  width: 190px;
  float: left;
  font-size: 0.75em;
}
@media only screen and (min-width: 790px) {
  /* line 315, ../sass/screen.scss */
  #controls {
    font-size: 1em;
    width: 210px;
  }
}

/* #wrap{
  position: relative;
  top: 70px;
  width: 790px;
  margin: 0 auto;


} */
/* line 337, ../sass/screen.scss */
#wrap {
  position: relative;
  top: 20px;
  margin: 0 auto;
  width: 450px;
}
@media only screen and (min-width: 790px) {
  /* line 337, ../sass/screen.scss */
  #wrap {
    top: 70px;
    width: 790px;
  }
}

/* line 351, ../sass/screen.scss */
#title, #tit {
  color: #fff;
  /*   padding:  5px 8px; */
  padding: 0;
  display: inline-block;
  width: 90px;
  margin-top: 5px;
  background-color: #9f9e9e;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
@media only screen and (min-width: 790px) {
  /* line 351, ../sass/screen.scss */
  #title, #tit {
    width: 115px;
  }
}

/* line 365, ../sass/screen.scss */
#title.moving {
  color: #fff;
  background-color: rgba(12, 128, 14, 0.58);
}

/* line 370, ../sass/screen.scss */
#title.noImage {
  color: #f7ef0a !important;
  background-color: rgba(219, 30, 30, 0.71);
}

/* line 375, ../sass/screen.scss */
a.butto {
  width: 90px;
  font-size: 1.15em;
  background-color: #51b5e9;
  color: #fff;
  padding: 5px 8px;
  display: inline-block;
  margin-bottom: 3px;
  -moz-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
@media only screen and (min-width: 790px) {
  /* line 375, ../sass/screen.scss */
  a.butto {
    width: 115px;
  }
}
/* line 388, ../sass/screen.scss */
a.butto:hover {
  background-color: #2b9bbd;
}
/* line 391, ../sass/screen.scss */
a.butto.active {
  background-color: #1687b6;
}

/* line 397, ../sass/screen.scss */
#thumbs img {
  width: 60px;
  border: 2px solid #ebe8e8;
}
/* line 400, ../sass/screen.scss */
#thumbs img.active {
  border: 5px solid #504c57;
}

/* line 405, ../sass/screen.scss */
.hidden {
  display: none;
}

/* line 408, ../sass/screen.scss */
#toggleMode {
  font-size: 1em;
  height: 24px;
  width: 90px;
  background-color: rgba(12, 128, 14, 0.68);
  padding: 10px 0px;
  padding-bottom: 9px;
  text-align: center;
  color: #fff;
  margin: 9px auto;
  display: block;
  line-height: 0;
  cursor: pointer;
  -moz-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
@media only screen and (min-width: 790px) {
  /* line 408, ../sass/screen.scss */
  #toggleMode {
    width: 115px;
    font-size: 1em;
    padding: 10px 4px;
  }
}
/* line 427, ../sass/screen.scss */
#toggleMode:hover {
  background-color: rgba(12, 128, 14, 0.58);
}

/* line 433, ../sass/screen.scss */
#popsDiv {
  position: absolute;
  top: 0;
  padding: 20px;
  margin: 0 auto;
  text-align: center;
  z-index: 200;
  width: 100%;
  height: 100%;
  background-color: rgba(9, 4, 20, 0.9);
}
/* line 443, ../sass/screen.scss */
#popsDiv img {
  border: 15px solid #ebe8e8;
  border-bottom: 25px solid #ebe8e8;
  border-radius: 2px;
  padding: 2px;
  background-color: #c8c2c2;
  max-height: 91%;
}
/* line 451, ../sass/screen.scss */
#popsDiv h5.popsTitle {
  color: #fbf8f8;
  padding: 10px;
}
