body {
    font-family: "Google Sans Code", monospace;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;

    line-height: 1.2;
    max-width: 800px;
     margin-top: 1rem;
}

@media screen and (min-width: 480px) {
    body {
       
        margin: 2rem;
    }
}

ul {
    list-style-type: none;
    padding: .4rem;
}

li {
    padding: .4rem;
}



p {
    padding: .4rem;
}

h1 {
    font-size: 1.8rem;
    padding: .4rem;
}

h4 {
    padding: .9rem;
    font-size: 1.4rem;
    color: dodgerblue;
}

h5 {
    color: coral;
    padding: .4rem;
    margin-top: 1rem;
    margin-bottom: 1rem
}